.title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.user-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.link {
    text-align: center;
    padding-top: 20px;

    a {
        margin-left: 5px;
        color: var(--color-primary);
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--color-primary);
            border-color: var(--color-primary);
        }
    }
}

.link-back {
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--color-primary);
    }
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.form-email,
.form-password {
    animation: fadeIn 0.5s ease-in-out forwards alternate;
}

@keyframes fadeIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
