.wrapper {
    min-height: 70vh;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.filter {
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-group {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.filter-group-label {
    margin-right: 8px;
}

.filter-group-select {
    width: 200px;
}

.total-order {
    opacity: 0.7;
    font-size: 14px;
}

.message {
    text-align: center;
    margin-top: 50px;
    color: var(--primary-color);
}
