:root {
    --primary-color: #e94560;
    --bg-color: #f6f9fc;
    --bg-footer-color: #0f3460;
    --border-color: rgba(0, 0, 0, 0.1);
    --success-color: #07bc0c;
    --error-color: #e74c3c;

    --btn-border-color: #fbd0d5;
    --btn-hover-color: #d6284d;

    --header-height: 160px;
    --header-bg: rgba($color: #fff, $alpha: 0.5);
    --header-bg-scroll: #fff;

    --cart-item-text-color: black;

    // --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);

    --divider: 1px solid rgb(3 0 71 / 9%);

    --header-logo-height-mobile: 50px;

    --sidebar-admin-width: 240px;
    --sidebar-admin-color: #404e67;
    --header-admin-text-color: black;

    --back-btn-color: rgba(0, 0, 0, 0.5411764706);

    // Chat
    --chat-form-height: 80px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #cccccc54;
    transition: all 0.3s ease-in-out;
}

body.dark {
    background-color: #232323 !important;
    color: white;

    --header-bg: #232323;
    --header-bg-scroll: #1a1919;
    --cart-item-text-color: #fff;
    --header-admin-text-color: #fff;
    --divider: 1px solid #74747747;
    --back-btn-color: #ccc;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: none !important;
    border-color: var(--btn-border-color) !important;
    transition: all 0.3s ease-in-out !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover {
        color: inherit;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul {
    padding-left: 0;
    list-style: none;
}

button {
    outline: none !important;
    border-color: transparent;
}

span {
    display: inline-block;
}
