.wrapper {
    min-height: 60vh;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

.point {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}

.submit-btn {
    padding: 10px 28px;
}

@media (max-width: 639px) {
    .point {
        font-size: 16px;
    }
}
