.wrapper {
    position: relative;
    cursor: pointer;
}

.badge {
    background-color: var(--primary-color) !important;
    padding: 0;
    height: 18px;
    width: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
}
