.wrapper {
    display: flex;
    align-items: center;
    height: calc(var(--header-height) / 2);
    background: var(--header-bg);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    &.scroll {
        background: var(--header-bg-scroll);
    }
}

.left {
    padding: 10px 20px;
    height: 100%;
    width: var(--sidebar-admin-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sidebar-admin-color);
}

.logo {
    height: 100%;
}

.hamburger-menu {
    padding: 8px 0;
    cursor: pointer;

    .line {
        background-color: white;
        width: 25px;
        height: 3px;
        border-radius: 99px;
        position: relative;
        transition: all 0.3s ease-in-out;

        &::after,
        &::before {
            content: "";
            background-color: white;
            width: 25px;
            height: 3px;
            border-radius: 99px;
            position: absolute;
            transition: background-color 0.3s ease-in-out 0.3s,
                top 0.3s ease-in-out 0.3s, rotate 0.3s ease-in-out;
        }

        &::after {
            top: -8px;
        }

        &::before {
            top: 8px;
        }
    }

    &.show {
        .line {
            background-color: transparent;

            &::after,
            &::before {
                transition: background-color 0.3s ease-in-out,
                    top 0.3s ease-in-out, rotate 0.3s ease-in-out 0.3s;
            }

            &::after {
                top: 0px;
                rotate: 45deg;
            }

            &::before {
                top: 0px;
                rotate: -45deg;
            }
        }
    }
}

.right {
    flex: 1;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.user {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.notification,
.message {
    position: relative;
    cursor: pointer;
}

.badge {
    background-color: var(--primary-color) !important;
    padding: 0;
    height: 18px;
    width: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
}

.logout-btn {
    min-width: 50px;
    font-size: 16px;
    color: var(--header-admin-text-color);
}

// Toggle
.toggleWrapper {
    overflow: hidden;
    padding: 0 80px;
    color: white;
}

.toggleWrapper input {
    position: absolute;
    left: -99em;
}

.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83d8ff;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
    content: "AM";
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
    color: var(--header-admin-text-color);
}

.toggle:after {
    content: "PM";
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
    color: #749ed7;
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

.toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
}

.toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
}

.toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
}

.star {
    position: absolute;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}

.star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
}

.star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--4,
.star--5,
.star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
}

.star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
    background-color: #749dd6;
}

input:checked + .toggle:before {
    color: #749ed7;
}

input:checked + .toggle:after {
    color: var(--header-admin-text-color);
}

input:checked + .toggle .toggle__handler {
    background-color: #ffe5b5;
    transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
}

input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
}

input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
