.back-btn {
    margin-bottom: 12px;
    display: inline-flex;
    align-items: center;
    color: var(--back-btn-color);
    text-transform: uppercase;
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}
