.wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 12px 8px;
    font-size: 14px;
    margin-bottom: 8px;
}

.img {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
}

.name,
.price,
.quantity {
    margin-bottom: 8px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.quantity {
    width: 100px;
}

.total {
    color: var(--primary-color);
}

.delete-btn {
    min-width: 30px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
