.title {
    font-size: 20px;
    margin-bottom: 20px;
}

.prev-btn,
.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-color);
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.disabled {
        background-color: #ccc;

        &:hover {
            background-color: #ccc;
            color: black;
            cursor: default;
        }
    }

    &:hover {
        background-color: var(--color-primary);
        color: white;
    }
}
