.wrapper {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    padding: 8px;
    cursor: pointer;
    animation: shockwave linear 1s infinite;

    & > img {
        animation: hand-shake 1s infinite;
    }
}

@keyframes shockwave {
    0% {
        transform: scale(1);
        box-shadow: 0 0 2px var(--primary-color),
            inset 0 0 1px var(--primary-color);
    }
    95% {
        box-shadow: 0 0 20px var(--btn-hover-color),
            inset 0 0 10px var(--btn-hover-color);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes hand-shake {
    0% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
