.wrapper {
    background-color: white;
    padding: 20px;
}

.back-btn {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.back-btn {
    color: #0000008a;
    cursor: pointer;
}

.orderID {
    margin-right: 12px;
}

.status {
    margin-left: 12px;
    color: var(--primary-color);

    &.success {
        color: var(--success-color);
    }
}

.body {
    margin-top: 20px;
}

.customer-info-title,
.order-info-title {
    display: block;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.customer-info-group {
    display: flex;
    flex-direction: column;
}

.customer-info-content {
    color: #0000008a;
    font-size: 14px;
    margin-bottom: 4px;
}

.customer-info-content.fullName {
    margin-bottom: 8px;
    color: black;
    font-size: 16px;
}
.order-info-label {
    font-size: 14px;
    color: #0000008a;
}

.order-info-price.total-price {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}
