.wrapper {
    vertical-align: middle;
    padding: 10px 0;
}

.info {
    display: flex;
    align-items: center;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.name {
    margin-left: 16px;
    text-align: left;
    flex: 1;
    font-weight: 600;
    max-width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.price {
    user-select: none;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    .minus,
    .plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background-color: var(--primary-color);
        color: #fff;
        cursor: pointer;
    }

    .num {
        padding: 0 10px;
        user-select: none;
    }
}

.actions {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--primary-color);
    }
}

// Tablet
@media (min-width: 640px) and (max-width: 1223px) {
    .img {
        height: 75px;
        width: 75px;
    }
}
