.wrapper {
    display: flex;
    margin-bottom: 10px;
}

.user {
    display: flex;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.content {
    margin: 8px 0;
}

.actions {
    display: flex;
    align-items: center;
}

.actions-item {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgba(204, 204, 204, 0.5);
    }
}
